In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [4]:
df=pd.read_csv("../data/Automobile_data.csv")

In [5]:
df.head(10)     # Single column is called "series"     & collection of series is called "frames"

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

In [6]:
s1=pd.Series([12,34,56,78])
s1

0    12
1    34
2    56
3    78
dtype: int64

In [7]:
s2=pd.Series(["Tj","Tanmay","Champ","Hello"])

In [8]:
s2

0        Tj
1    Tanmay
2     Champ
3     Hello
dtype: object

In [9]:
ds=pd.DataFrame({"name":s2,"age":s1})

In [10]:
ds.head()

     name  age
0      Tj   12
1  Tanmay   34
2   Champ   56
3   Hello   78

In [11]:
ds.info()    # Give some info about the dataframe "ds"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
name    4 non-null object
age     4 non-null int64
dtypes: int64(1), object(1)
memory usage: 144.0+ bytes

In [12]:
ds.iloc[0]    # we got first row

name    Tj
age     12
Name: 0, dtype: object

In [13]:
ds.iloc[0:2]    # give first 2 rows

     name  age
0      Tj   12
1  Tanmay   34

In [14]:
ds.iloc[0:2,0]   #give 1st column & 2 row

0        Tj
1    Tanmay
Name: name, dtype: object

In [15]:
ds.iloc[0:2,0:2] #give 2 columns & 2 rows

     name  age
0      Tj   12
1  Tanmay   34

In [16]:
ds.loc[0:1,"name"]          # loc[row_name,column_name]

0        Tj
1    Tanmay
Name: name, dtype: object

In [17]:
ds.keys()

Index(['name', 'age'], dtype='object')

In [18]:
ds.values

array([['Tj', 12],
       ['Tanmay', 34],
       ['Champ', 56],
       ['Hello', 78]], dtype=object)

In [19]:
ds

     name  age
0      Tj   12
1  Tanmay   34
2   Champ   56
3   Hello   78

In [20]:
ds.age<40     # a query which finds the records which have the age below 40

0     True
1     True
2    False
3    False
Name: age, dtype: bool

In [21]:
ds[ds.age<40]   # gives the value which have age<40

     name  age
0      Tj   12
1  Tanmay   34

In [22]:
ds.age>30

0    False
1     True
2     True
3     True
Name: age, dtype: bool

In [23]:
(ds.age<40)  & (ds.age>30)        #gives output as in "Series"

0    False
1     True
2    False
3    False
Name: age, dtype: bool

In [24]:
ds[(ds.age<40)  & (ds.age>30)]    # Gives output as in "Frames"

     name  age
1  Tanmay   34

In [25]:
ds.age+2      # Increasing the ages of all by 2

0    14
1    36
2    58
3    80
Name: age, dtype: int64

In [26]:
# Increasing the ages of the person who have ages<40

ds["age"][ds.age<40]=2

/home/manish/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
ds

     name  age
0      Tj    2
1  Tanmay    2
2   Champ   56
3   Hello   78

In [28]:
# Lambda Function      --> Used for 1 variable
sd=lambda x: x+2 if x<40 else x     # else part is fixed in this fxn


#Simple Deinition of above lambda fxn
def check(x):
    if x<40:
        return x+2
    else:
        return x

In [29]:
sd(34)

36

In [30]:
sd(40)

40

In [31]:
# now apply this lambda fxn to the ds
ds["age"].apply(sd)    # we access the ds first then select the age series of ds then apply lambda fxn which is stored in sd

0     4
1     4
2    56
3    78
Name: age, dtype: int64

In [32]:
# we have two series & we add both of them & then put it into the third series
s1=pd.Series(["Tj ","roshan ","ajay ","atul ","rani ","ankita "])
s2=pd.Series(["andrew","Kumar","ninja hatodi","Kumar","sharma","chaudhary"])

#s3=s1[]+s2[]

In [33]:
ds1=pd.DataFrame({"Name":s1+s2})

In [34]:
ds1

                Name
0          Tj andrew
1       roshan Kumar
2  ajay ninja hatodi
3         atul Kumar
4        rani sharma
5   ankita chaudhary

In [35]:
s3=s1+s2
print(s3)

# Print s1 , s2 & s1+s2 in DataFrame Format
pd.DataFrame({"s1":s1,"s2":s2,"s3":s1+s2})

0            Tj andrew
1         roshan Kumar
2    ajay ninja hatodi
3           atul Kumar
4          rani sharma
5     ankita chaudhary
dtype: object

        s1            s2                 s3
0      Tj         andrew          Tj andrew
1  roshan          Kumar       roshan Kumar
2    ajay   ninja hatodi  ajay ninja hatodi
3    atul          Kumar         atul Kumar
4    rani         sharma        rani sharma
5  ankita      chaudhary   ankita chaudhary

In [36]:
ds.age.mean    # Finding mean

<bound method Series.mean of 0     2
1     2
2    56
3    78
Name: age, dtype: int64>

In [37]:
ds.age.var    # Finding Variance

<bound method Series.var of 0     2
1     2
2    56
3    78
Name: age, dtype: int64>

In [38]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

In [39]:
df.info()    #Give info of df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 205 non-null object
stroke               205 non-null object
compression-ratio    205 non-null float64
horsepower           205 non-null object
peak-rpm             205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB

In [40]:
df.keys()      # Give Columns name of the df

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [41]:
df.symboling.isnull()==True       # Gives Ture if any row have no value otherwise gives false
len(df.symboling.isnull()==True)

205

In [42]:
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [43]:
import numpy as np

In [44]:
np.NaN

nan

In [45]:
# It will take the values of the "normalized-losees" where "?" is present & put "nan" there
df["normalized-losses"][df["normalized-losses"]=="?"]=np.NaN

/home/manish/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [46]:
#df

In [47]:
audi=df["make"][df.make=="audi"]

In [48]:
# Count the cars which are audi
df["make"][df.make=="audi"].count()

7

In [49]:
# cars which are audi & have fuel-type is gas
df[(df.make=="audi") & (df["fuel-type"]=="gas")]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

In [50]:
# How many audi & volksvagen are present in the data
# df[(df.make=="audi") | (df.make=="volkswagen")]   It will display the details of the cars which are audi & volksvagen

df[(df.make=="audi") | (df.make=="volkswagen")]['make'].count()  # It will Count the no.s of these cars

19

In [51]:
#df