In [1]:
var=input("Input the color of apple")
var1=int(input("Enter no. one "))
var2=int(input("Enter no. two"))
print("the sum of these two no. is ",var1+var2)
print(sum([1, 2, 3, 4, 5])) # sum values in a list
print(sum((1, 2, 3, 4, 5))) # sum values in a tuple 
print(sum({1, 2, 3, 4, 5})) # sum values in a set
print(sum({1: "one", 2: "two", 3: "three"})) # sum values in a

Input the color of applered
Enter no. one 1
Enter no. two2
the sum of these two no. is  3
15
15
15
6

In [2]:
print("Welcome to Paytm\n")
recharge=int(input("Enter the amount for recharge"))
print("Recharge Successfully for",recharge,"amount")

Welcome to Paytm

Enter the amount for recharge100
Recharge Successfully for 100 amount

In [3]:
print("Welcome to Paytm\n")
recharge=int(input("Enter the amount for recharge"))
finalrecharge= recharge*0.7
print("Recharge Successfully for",recharge,"amount")
print("Balance you got is",finalrecharge)
final2= finalrecharge*0.82
print("After deduction of 18% to Modi Ji",final2)

Welcome to Paytm

Enter the amount for recharge150
Recharge Successfully for 150 amount
Balance you got is 105.0
After deduction of 18% to Modi Ji 86.1

print(Data Types)

## Data Types
1-Tupple\n 2- List\n 3-Dictionary")

In [4]:
var1=("lco","jaipur",30,False)

In [5]:
var1

('lco', 'jaipur', 30, False)

In [6]:
Items=("Shoes","Jeans","T-Shirt")
ItemsPrice=(500,3000,2000)
print("Welcome to Paytm Mall")
print("Item\t\t Prices")
print(Items[0],"\t\t",ItemsPrice[0])
print(Items[1],"\t\t",ItemsPrice[1])
print(Items[2]," "*8,ItemsPrice[2])

Welcome to Paytm Mall
Item		 Prices
Shoes 		 500
Jeans 		 3000
T-Shirt          2000

## Shopping Mall Application

In [7]:
items=("Apple","Pizza","Burger","Cold Coffee")
price=(20,100,20,60)

print("Welcome to Shopping Mall")
print("Items\t\tPrice")
for i in range(0,4):
    print(items[i],"\t\t",price[i])

Welcome to Shopping Mall
Items		Price
Apple 		 20
Pizza 		 100
Burger 		 20
Cold Coffee 		 60

In [9]:
print("We want to add item\n")
IT1=input("Enter the name of item")
PC1=int(input("Enter the price of item"))
items.append(IT1)
price.append(PC1)
#error comes because tupple doesn't support append because it is immutable

We want to add item

Enter the name of itemApple
Enter the price of item20

AttributeError: 'tuple' object has no attribute 'append'

## IF & ELSE

In [10]:
val=int(input("Enter a no."))
if val%2 == 0 :
    print(val," is even no.")
else: 
    print(val,"is odd no.")

Enter a no.11
11 is odd no.

In [11]:
## greater no.

In [12]:
var1=int(input("Enter no.1"))
var2=int(input("Enter no.2"))
var3=int(input("Enter no.3"))

if var1 > var2 & var1 > var3:
    print(val1 ,"is greatest in all")
elif var2> var3 & var2 > var1:
    print(var2,"is greatest in all")
else: 
    print(var3,"is greatest in all")
    
l=max(var1,var2,var3)

Enter no.112
Enter no.215
Enter no.346
15 is greatest in all

## Some thing good

In [13]:
list=[]
for i in range(0,11):
    list.append(i)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## List Comprehension

In [14]:
[i  for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
p="hi i am tanmaya".split()
print(p)

['hi', 'i', 'am', 'tanmaya']

In [16]:
q=max(input("Enter your no.s").split())
q

Enter your no.s2u

'2u'