###  Q1: Write a Program to print the table
* take input from user and print that table

</br></br></br></br>

### Q2: Write a Program Reverse the String
test case:

input : "iwritecode"

output: "edocetirwi"

</br></br></br></br>

### Q3: Write a program to mix two string in alternate manner.

test case:

input : str1="apple",  str2="orange"

output : "aoprpalnege"

</br></br></br></br>

### Q4: Make a Program Simple Loan Calculator
* take the loan ammount and time period from user as input
* caculate the interest at 4%
* finally print the total ammount the customer will have pay.

</br></br></br></br>

### Q5: Print it out

## Q1-Solution

In [1]:
print("Table of a no.")
n=int(input("Enter the no. which you want table"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Table of a no.

Enter the no. which you want table 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

## Q2-Solution

In [2]:
print("Reverse Of a string")
str1=input("Enter String")
strrev=str1[::-1]
print(strrev)

Reverse Of a string

Enter String Tanmaya

ayamnaT

## Q3- Solution

In [3]:
print("Mixing 2 Strings in alternate form")
str1=input("Enter String 1")
str2=input("Enter String 2")
len1=len(str1)
len2=len(str2)
if len1 > len2 :
    n=len1
else: n=len2
for i in range(n):
    print(str1[i],str2[i],end=" ")

Mixing 2 Strings in alternate form

Enter String 1 Hello
Enter String 2 World

H W e o l r l l o d

## Q4- Solution

In [4]:
print("Loan Calculator")
P=int(input("Enter the amount you want"))
R=4 #Given
T=int(input("Enter the time period "))
SI=(P*R*T)/100
print("The amount of simple interest on ",P,"amount is",SI)
print("So you have to pay ",P+SI,"Rs")

Loan Calculator

Enter the amount you want 1000
Enter the time period  4

The amount of simple interest on  1000 amount is 160.0
So you have to pay  1160.0 Rs

## Q5- Solution

In [9]:
for row in range(0,8):
    for col in range(0,4):
        if col-row==0 :
            print("\\\\")
        else :
            print(" ",end='')
        if col+row==7:
            print("//",end='')
        else :print(" ",end='')
    print("\n")

\\


  \\


    \\


      \\


       //

     //

   //

 //