In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("../data/hamspam.tsv",sep="\t")

In [3]:
data.head()

,ham,I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...
1,ham,"Nah I don't think he goes to usf, he lives aro..."
2,ham,Even my brother is not like to speak with me. ...
3,ham,I HAVE A DATE ON SUNDAY WITH WILL!!
4,ham,As per your request 'Melle Melle (Oru Minnamin...

In [4]:
data.columns = ["label","msg"]

In [5]:
data.head()

  label                                                msg
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...
1   ham  Nah I don't think he goes to usf, he lives aro...
2   ham  Even my brother is not like to speak with me. ...
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
4   ham  As per your request 'Melle Melle (Oru Minnamin...

In [6]:
data['label_bin'] = data.label.apply(lambda x:1 if x=='spam' else 0)

In [7]:
data.head()

  label                                                msg  label_bin
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
1   ham  Nah I don't think he goes to usf, he lives aro...          0
2   ham  Even my brother is not like to speak with me. ...          0
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!          0
4   ham  As per your request 'Melle Melle (Oru Minnamin...          0

In [8]:
x= data['msg'].values
y=data['label_bin'].values

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20 , random_state=21)

In [10]:
len(x_train)==len(y_train)
len(x_test)==len(y_test)

True

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
# Make an object of CountVectorizer
count_vec = CountVectorizer(stop_words = 'english')

In [13]:
count_vec.fit(x_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [14]:
x_train_converted = count_vec.transform(x_train)

In [15]:
x_train_converted.toarray().shape

(4453, 7436)

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
model = DecisionTreeClassifier()

In [18]:
model.fit(x_train_converted , y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [19]:
x_test

array(['Once free call me sir. I am waiting for you.',
       'K do I need a login or anything', 'Ok', ...,
       'Brainless Baby Doll..:-D;-), vehicle sariyag drive madoke barolla..',
       'Good morning, im suffering from fever and dysentry ..will not be able to come to office today.',
       'it to 80488. Your 500 free text messages are valid until 31 December 2005.'],
      dtype=object)

In [20]:
x_test_converted = count_vec.transform(x_test)

In [21]:
pred = model.predict(x_test_converted)

In [22]:
y_test ==pred

array([ True,  True,  True, ...,  True,  True,  True])

In [23]:
# Testing Accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.9757630161579892

In [24]:
# Testinf on user input
a=count_vec.transform(["you won 1 lakh rupees"])

In [25]:
model.predict(a)  # it gives output as 0 i.e it is ham

array([0])